<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Compose</title>
</head>
<body>
     <%- include("header") %> 
     <form class="entry-form" action="/compose" method="post">
          <input type="text" placeholder="Title" name="title">
          <input type="text" placeholder="Description" name="description">
          <textarea name="content" id="content" placeholder="Content of you post" cols="30" rows="10"></textarea>
          <button type="submit">submit</button>
     </form>
</body>
</html>
